.dir-locals.el

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
test_config.hpp

.DS_Store

unittests
vtscript

.vagrant/

*.log

cmake*/

*.gch

unittests.dSYM

Testing/

